<header class="lg:px-16 px-6 bg-black flex flex-wrap items-center lg:py-0 py-2">
    <div class="flex-1 flex justify-between items-center">
        <a class="space-y-1" href="/">
            <img class="w-16" src="/images/projector.png" alt="">
            <div class="flex flex-col items-center text-white font-mono space-y-1 leading-none text-xs">
                <p>The Movie</p>
                <p>Matrix</p>
            </div>
        </a>
    </div>
        
    <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle" />


<!--Large Menu-->
        
    <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
        <nav>
            <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0 ">
                <li><a class="font-mono lg:p-4 py-3 px-0 block border-b-2 border-transparent text-white hover:border-indigo-400 font-semibold" href="/">Home</a></li>
                <li><a class="font-mono lg:p-4 py-3 px-0 block border-b-2 border-transparent text-white hover:border-indigo-400 font-semibold" href="/team">The Team</a></li>
                <% if (isAuthenticated) { %>
                    <li class="group">
                        <button id="dropdownButton" class="dropdown bg-transparent lg:p-4 py-3 px-0 text-white font-semibold space-x-0 inline-flex items-center border-transparent font-mono border-b-2 hover:border-indigo-400 focus:border-transparent">
                            <span class="mr-1">Profile</span>
                            <svg class="fill-current h-4 w-4 transform rotate-90 transition-all duration-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                        </button>
                        <ul id="dropdownMenu" class="hidden z-10 absolute font-mono text-violet-500 pt-1">
                            <li class=""><a class="rounded-t bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/favorites">Favorites</a></li>
                            <li class=""><a class="rounded-t bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/watchlist">Watch List</a></li>
                            <li class=""><a class="rounded-t bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/seenlist">Seen</a></li>
                            <li class=""><a class="bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Account</a></li>
                            <li class=""><a class="rounded-b bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                
                <% } else { %>  
                
                    <li><a id="loginButton" class="font-mono lg:p-4 py-3 px-0 block border-b-2 border-transparent font-semibold text-white hover:border-indigo-400" href="/login">Log In</a></li>
                    <li><a id="loginButton" class="font-mono lg:p-4 py-3 px-0 block border-b-2 border-transparent font-semibold text-white hover:border-indigo-400" href="/registration">Registration</a></li>
                <% } %>
                
            </ul>
            
        </nav>
        
    </div>

    <!--XS to Medium Menu-->

    <div class="lg:hidden xs:items-center w-auto" id="menu">
        <nav>
            <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0 ">
                    
                    <li class="group">
                        <button id="dropdownButton2" class="dropdown bg-transparent lg:p-4 py-3 px-0 text-white font-semibold space-x-0 inline-flex items-center border-transparent font-mono border-b-2 hover:border-indigo-400 focus:border-transparent">
                            <span class="mr-1">Menu</span>
                            <svg class="fill-current h-4 w-4 transform rotate-90 transition-all duration-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                        </button>
                        <ul id="dropdownMenu2" class="hidden z-10 absolute font-mono text-violet-500 pt-1">
                            <li><a class="rounded-t bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/">Home</a></li>
                            <li><a class="rounded-t bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/team">The Team</a></li>
                            <% if (isAuthenticated) { %>
                            <li><a class="rounded-t bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/favorites">Favorites</a></li>
                            <li><a class="rounded-t bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/watchlist">Watch List</a></li>
                            <li><a class="rounded-t bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/seenlist">Seen</a></li>
                            <li><a class="bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Account</a></li>
                            <li><a class="rounded-b bg-black hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/logout">Logout</a></li>
                            <% } else { %>  
                
                            <li><a id="loginButton" class="font-mono lg:p-4 py-3 px-0 block border-b-2 border-transparent text-violet-500 hover:border-indigo-400" href="/login">Log In</a></li>
                            <li><a id="loginButton" class="font-mono lg:p-4 py-3 px-0 block border-b-2 border-transparent text-violet-500 hover:border-indigo-400" href="/registration">Registration</a></li>
                            <% } %>
                        </ul>
                    </li>
                
                
                
            </ul>
            
        </nav>
        
    </div>

</header>