<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Movie Matrix</title>
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="icon" href="/images/projector.png">
</head>
<body class="bg-black">

    <!--header-->

    <%- include ('partials/navbar.ejs') %> 


    <!--github link-->
    <div class="flex flex-row justify-center mb-20 font-semibold font-mono text-violet-500">   
        <a target="_blank" href="https://github.com/JosephStocks/movie-app"><button class="rounded-md w-full h-full bg-transparent p-1 md:py-1 md:px-2 hover:text-white  hover:border-white border-violet-500 focus:border-transparent border-2">See This Project On GitHub</button></a>
    </div>


    <!--beginning of team cards-->

    <div class="flex justify-center items-center">
        <p class="font-mono text-white text-md">Brought To You By:</p>
    </div>
    <div class="mt-10 mb-10">
        <div class="flex flex-row flex-wrap p-3 bg-black justify-around w-3/6 mx-auto">

            <!--ian card-->
            <div class="w-60 ml-5 mb-12 bg-black shadow-lg overflow-hidden">
                <div class="">
                    <img src="images/ian.jpeg" alt="" class="w-full">
                </div>
                <div class="p-1 flex flex-col justify-center items-center">
                    <p class="block text-sm md:text-xl uppercase font-mono text-violet-500">Ian Haddock</p>
                    <p class="block text-xs med:text-sm uppercase font-mono text-white mb-5"></p>
                </div>
                <div class="p-1 flex flex-row justify-center items-center">
                    <a class="mr-5 cursor-pointer transform hover:scale-105 duration-300 ease-in-out" href="https://github.com/ianhaddock99" target="_blank"><img class="w-12" src="/images/github.png" alt=""></a>
                    <a class="cursor-pointer transform hover:scale-105 duration-300 ease-in-out" href="https://www.linkedin.com/in/ianhaddock99/" target="_blank"><img class="w-12" src="/images/linkedin.png" alt=""></a>
                </div>
            </div>
            <!--joe card-->
            <div class="w-60 ml-5 mb-12 bg-black shadow-lg overflow-hidden">
                <div class="">
                    <img src="images/joe.jpeg" alt="" class="w-full">
                </div>
                <div class="p-1 flex flex-col justify-center items-center">
                    <p class="block text-sm md:text-xl uppercase font-mono text-violet-500">Joe Stocks</p>
                    <p class="block text-xs med:text-sm uppercase font-mono text-white mb-5"></p>
                </div>
                <div class="p-1 flex flex-row justify-center items-center">
                    <a class="mr-5 cursor-pointer transform hover:scale-105 duration-300 ease-in-out" href="https://github.com/JosephStocks" target="_blank" ><img class="w-12" src="/images/github.png" alt=""></a>
                    <a class="cursor-pointer transform hover:scale-105 duration-300 ease-in-out" href="https://www.linkedin.com/in/joseph-stocks/" target="_blank"><img class="w-12" src="/images/linkedin.png" alt=""></a>
                </div>
            </div>
            <!--jacob card-->
            <div class="w-60 ml-5 mb-5 bg-black shadow-lg overflow-hidden">
                <div class="">
                    <img src="images/jacob2.jpeg" alt="" class="w-full">
                </div>
                <div class="p-1 flex flex-col justify-center items-center">
                    <p class="block text-sm md:text-xl uppercase font-mono text-violet-500">Jacob Deel</p>
                    <p class="block text-xs med:text-sm uppercase font-mono text-white mb-5"></p>
                </div>
                <div class="p-1 flex flex-row justify-center items-center">
                    <a class="mr-5 cursor-pointer transform hover:scale-105 duration-300 ease-in-out" href="https://github.com/jacoblakedeel" target="_blank" ><img class="w-12" src="/images/github.png" alt=""></a>
                    <a class="cursor-pointer transform hover:scale-105 duration-300 ease-in-out" href="https://www.linkedin.com/in/jacob-deel-093b401b9/" target="_blank" class="text-violet-500 font-mono"><img class="w-12" src="/images/linkedin.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center text-center mt-31">
        <p class="font-mono text-white mb-10 text-md">Using:</p>
    </div>
    <div class="w-full">
        <ul class="grid grid-flow-row grid-cols-3 grid-rows-3 gap-4 font-mono text-sm text-violet-500 justify-center space-x-8 mx-auto">
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-12 md:w-28 lg:w-36" src="images/passport.png" alt="passport logo"><div>Passport</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8 mt-7"><img class="w-12 md:w-28 lg:w-36" src="images/tailwind.svg" alt="tailwind css logo"><div>Tailwind CSS</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-12 md:w-28 lg:w-36" src="images/html.png" alt="html5 logo"><div>HTML5</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-10 md:w-28 lg:w-36" src="images/js.png" alt="js logo"><div>JavaScript</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-28 md:w-45 lg:w-60" src="images/sql.png" alt="SQL logo"><div>SQL</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-32 md:w-42 lg:w-58" src="images/sequelize.png" alt="SQL logo"><div></div></li>
        </ul>
    </div>
    

    <%- include ('partials/base_scripts.ejs') %> 
</body>
</html>