<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Movie Matrix</title>
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap" rel="stylesheet">
</head>
<body class="bg-black">

    <!--header-->

    <%- include ('partials/navbar.ejs') %> 


    <!--beginning of team cards-->

    <div class="flex justify-center items-center mt-15">
        <p class="font-mono text-violet-500 text-4xl">The Team</p>
    </div>
    <div class="mt-10">
        <div class="flex flex-row flex-wrap p-3 bg-black justify-between w-3/6 mx-auto">
            <div class="w-40 ml-3 mb-5 bg-black w-50 shadow-lg cursor-pointer transform hover:scale-105 duration-300 ease-in-out overflow-hidden rounded-lg">
                <div class="">
                    <img src="images/ian.jpeg" alt="" class="w-full">
                </div>
                <div class="p-1 flex flex-col justify-center items-center">
                    <p class="block text-sm md:text-xl uppercase font-mono text-white">Ian Haddock</p>
                    <p class="block text-xs med:text-sm uppercase font-mono text-white mb-5">Some Description</p>
                    <a class="mb-5" href="https://github.com/ianhaddock99" target="_blank"><img class="w-12" src="/images/github.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/ianhaddock99/" target="_blank"><img class="w-12" src="/images/linkedin.png" alt=""></a>
                </div>
            </div>
            <div class="w-40 ml-3 mb-5 bg-black w-50 shadow-lg cursor-pointer transform hover:scale-105 duration-300 ease-in-out overflow-hidden rounded-lg">
                <div class="">
                    <img src="images/joe.jpeg" alt="" class="w-full">
                </div>
                <div class="p-1 flex flex-col justify-center items-center">
                    <p class="block text-sm md:text-xl uppercase font-mono text-white">Joe Stocks</p>
                    <p class="block text-xs med:text-sm uppercase font-mono text-white mb-5">Some Description</p>
                    <a href="https://github.com/JosephStocks" target="_blank" class="mb-5"><img class="w-12" src="/images/github.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/joseph-stocks/" target="_blank"><img class="w-12" src="/images/linkedin.png" alt=""></a>
                </div>
            </div>
            <div class="w-40 ml-3 mb-5 bg-black w-50 shadow-lg cursor-pointer transform hover:scale-105 duration-300 ease-in-out overflow-hidden rounded-lg">
                <div class="">
                    <img src="images/jacob2.jpeg" alt="" class="w-full">
                </div>
                <div class="p-1 flex flex-col justify-center items-center">
                    <p class="block text-sm md:text-xl uppercase font-mono text-white">Jacob Deel</p>
                    <p class="block text-xs med:text-sm uppercase font-mono text-white mb-5">Some Description</p>
                    <a href="https://github.com/jacoblakedeel" target="_blank" class="text-violet-500 font-mono mb-5"><img class="w-12" src="/images/github.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/jacob-deel-093b401b9/" target="_blank" class="text-violet-500 font-mono"><img class="w-12" src="/images/linkedin.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center text-center mt-6">
        <p class="font-mono text-violet-500 mb-10 text-2xl">Technologies Used To Create The Movie Matrix:</p>
    </div>
    <div class="w-full">
        <ul class="grid grid-flow-row grid-cols-3 grid-rows-3 gap-4 font-mono text-sm text-violet-500 justify-center space-x-8 mx-auto">
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-12 md:w-28 lg:w-36" src="images/passport.png" alt="passport logo"><div>Passport</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-12 md:w-28 lg:w-36" src="images/tailwind.svg" alt="tailwind css logo"><div>Tailwind CSS</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-12 md:w-28 lg:w-36" src="images/html.png" alt="html5 logo"><div>HTML5</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-10 md:w-28 lg:w-36" src="images/js.png" alt="js logo"><div>JavaScript</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-24 md:w-33 lg:w-40" src="images/sql.png" alt="SQL logo"><div>SQL</div></li>
            <li class="flex flex-col items-center space-y-2 mb-8"><img class="w-28 md:w-36 lg:w-48" src="images/sequelize.png" alt="SQL logo"><div></div></li>
        </ul>
    </div>

    <%- include ('partials/base_scripts.ejs') %> 
</body>
</html>