<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Movie Matrix</title>
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap" rel="stylesheet">
</head>
<body class="bg-black">

    <!--header-->

    <%- include ('partials/navbar.ejs') %> 


    <!--beginning of team cards-->

    <div class="flex justify-center items-center mt-15">
        <p class="font-mono text-violet-500 text-4xl">The Team</p>
    </div>
    <div class="mt-4">
        <div class="flex flex-row flex-wrap p-3 bg-black justify-center w-3/6 mx-auto">
            <div class="w-60 ml-3 mb-5 bg-black w-50 shadow-lg cursor-pointer transform hover:scale-105 duration-300 ease-in-out overflow-hidden rounded-lg">
                <div class="">
                    <img src="images/ian.jpeg" alt="" class="w-full">
                </div>
                <div class="p-1 flex flex-col justify-center items-center">
                    <p class="block text-sm md:text-2xl uppercase font-mono text-white">Ian Haddock</p>
                    <p class="block text-xs med:text-sm uppercase font-mono text-white">Some Description</p>
                </div>
            </div>
            <div class="w-60 ml-3 mb-5 bg-black w-50 shadow-lg cursor-pointer transform hover:scale-105 duration-300 ease-in-out overflow-hidden rounded-lg">
                <div class="">
                    <img src="images/joe.jpeg" alt="" class="w-full">
                </div>
                <div class="p-1 flex flex-col justify-center items-center">
                    <p class="block text-sm md:text-2xl uppercase font-mono text-white">Joe Stocks</p>
                    <p class="block text-xs med:text-sm uppercase font-mono text-white">Some Description</p>
                </div>
            </div>
            <div class="w-60 ml-3 mb-5 bg-black w-50 shadow-lg cursor-pointer transform hover:scale-105 duration-300 ease-in-out overflow-hidden rounded-lg">
                <div class="">
                    <img src="images/jacob2.jpeg" alt="" class="w-full">
                </div>
                <div class="p-1 flex flex-col justify-center items-center">
                    <p class="block text-sm md:text-2xl uppercase font-mono text-white">Jacob Deel</p>
                    <p class="block text-xs med:text-sm uppercase font-mono text-white">Some Description</p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center mt-6">
        <p class="font-mono text-violet-500 mb-10 text-2xl">Technologies Used To Create The Movie Matrix:</p>
    </div>
    <div class="w-full">
        <ul class="flex flex-row font-mono text-sm text-violet-500 justify-center space-x-10 mx-auto">
            <li class="flex flex-col items-center space-y-2"><img  style="height: 50px;" src="images/js.png" alt=""><div>JavaScript</div></li>
            <li class="flex flex-col items-center space-y-2"><img  style="height: 50px;" src="images/html.png" alt=""><div>HTML5</div></li>
            <li class="flex flex-col items-center space-y-2"><img  style="height: 50px;" src="images/tailwind.svg" alt=""><div>Tailwind CSS</div></li>
            <li class="flex flex-col items-center space-y-2"><img  style="height: 50px;" src="images/passport.png" alt=""><div>Passport</div></li>
            <li class="flex flex-col items-center space-y-2"><img  style="height: 50px;" src="images/sql.png" alt=""><div>SQL</div></li>
        </ul>
    </div>


    <script src="../js/modal.js"></script>
    <script src="../js/loginModal.js"></script>
    
    <script src="/js/dropdown2.js"></script>
</body>
</html>